 /* div{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: transform 1s;
    transform-origin: center;
  }

  div:hover{
    transform: rotate(360deg);
  } 
  font-family: 'Alata', sans-serif;
  */


/* typical device breakpoints 

    small screens: max-width: 600px
    phone: max-width: 600px - 768px
    tablet: max-width: 768px - 992px
    desktop: max-width: 992px - 1024px
    extra large screens: above 1024px
*/
/* version mobile first */

/* */

