

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

  /* div{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: transform 1s;
    transform-origin: center;
  }

  div:hover{
    transform: rotate(360deg);
  } 
  font-family: 'Alata', sans-serif;
  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.border{
  border: 2px solid red;
}
header{
  background-image: url(../images/img-mobile/image-hero.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;

}

.header__nav-bar .header__logo-icon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  
}
.header__btn-menu{
  background-color: transparent;
  border: none;
}

.header__nav-bar .header__btn-menu i{
  color: white;
  
}
.header__icon-active{
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 5rem 4rem;
    display: none;
    
}

.header__icon-active .header__icon-close{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15rem;
}
.header__icon-close{
  color: white;
}
.menu-list ul li{
  margin-bottom: 2rem;
}

.menu-list ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: 2rem;
}

.header__title{
  max-width: 80%;
  border: 2px solid white;
  margin: 30rem auto;
  padding: 4.5rem;
  
}
.header__title h1{
  font-size: 3.4rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

/* ----------------- */

main{
  width: 80%;
  margin: auto;
}

.description{
  margin-top: 10rem;
}
.description__image img{
  width: 100%;
}

.description__text{
  text-align: center;
  margin-top: 6rem;
}
.description__text h2{
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.description__text p{
  font-size: 1.4rem;
  font-family: 'Alata', sans-serif;
  color: #ABABAB;
  line-height: 2.5rem;
}