

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

  /* div{
    width: 200px;
    height: 200px;
    background-color: blue;
    transition: transform 1s;
    transform-origin: center;
  }

  div:hover{
    transform: rotate(360deg);
  } 
  font-family: 'Alata', sans-serif;
  transform: scale(1.5);
  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.border{
  border: 2px solid red;
}
header{
  background-image: url(../images/img-mobile/image-hero.jpg);
  height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;

}

.header__nav-bar .header__logo-icon{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 4rem;
  
}
.header__nav-bar-desktop{
  display: none;
}
.header__btn-menu{
  background-color: transparent;
  border: none;
}
.header__btn-menu #menu-icon{
  cursor: pointer;
}

.header__nav-bar .header__btn-menu i{
  color: white;
}
.header__icon-active{
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 5rem 4rem;
    display: none;
}

.header__icon-active .header__icon-close{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15rem;
}
.header__icon-close{
  color: white;
}
.header__icon-close #icon-close{
  cursor: pointer;
}
.menu-list ul li{
  margin-bottom: 2rem;
  cursor: pointer;
}

.menu-list ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 3rem;
    margin-bottom: 2rem; 
}

.header__title{
  max-width: 80%;
  border: 2px solid white;
  margin: 30rem auto;
  padding: 4.5rem;
  
}
.header__title h1{
  font-size: 3.4rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
}

/* ----------------- */

main{
  width: 80%;
  margin: auto;
}

.description{
  margin-top: 10rem;
}
.description__image img{
  width: 100%;
}

.description__text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.description__text h2{
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.description__text p{
  font-size: 1.5rem;
  font-family: 'Alata', sans-serif;
  color: #ABABAB;
  line-height: 2.5rem;
  max-width: 100%;
  text-align: center;
}

/* --------------- */

.creations{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  
}

.creations h2{
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.creations__container{
  width: 100%;
  display: grid;
  gap: 2rem;
}

.creations__imagens{
  width: 100%;
  height: 15.5rem;
  cursor: pointer;
  position: relative;

}
.creations__imagens p{
  position: absolute;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 2.5rem;
  max-width: 45%;
  left: 2rem;
  bottom: 2rem;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.301);
  padding: 0.5rem;
  border-radius: 0.5rem;
  
}

.earth-image{
  background-image: url(../images/img-mobile/image-deep-earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nigth-image{
  background-image: url(../images/img-mobile/image-night-arcade.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.soccer-image{
  background-image: url(../images/img-mobile/image-soccer-team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.grid-image{
  background-image: url(../images/img-mobile/image-grid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.above-image{
  background-image: url(../images/img-mobile/image-from-above.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.pocket-image{
  background-image: url(../images/img-mobile/image-pocket-borealis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.curiosity-image{
  background-image: url(../images/img-mobile/image-curiosity.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fisheye-image{
  background-image: url(../images/img-mobile/image-fisheye.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creations__button{
  margin: 3.5rem 0rem 8rem 0rem;
  border: 0.2rem solid black;
}
.creations__button button{
  border: none;
  height: 6rem;
  width: 20rem;
  font-size: 2rem;
  font-family: 'Alata', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}
.creations__button button:hover{
  background-color: black;
  color: white;
}
/* ------------------------- */

footer{
  background-color: black;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.footer__list ul li{
  margin: 2rem 0rem;
  text-align: center;
  cursor: pointer;
}
.footer__list ul li a{
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-family: 'Alata', sans-serif;
  
}

.footer__social-media{
  margin: 2.4rem 0rem 2rem 0rem;
  display: flex;
  gap: 2rem;
  cursor: pointer;
}

.footer__text {
  color: #ABABAB;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}